<ion-header>
  <ion-toolbar>
    <ion-title>
      <p align="center">Connections</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item-sliding *ngFor="let conuser of conUsers">
            <ion-item>
                <ion-icon name="person" size="large" slot="start"></ion-icon>
                {{conuser.email}}</ion-item>
        </ion-item-sliding>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="showUserSelect()"><ion-icon name="person-add"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="link"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="qr-scanner"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
