// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-title {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color: #383a3e;
  color: white;
}

ion-buttons, ion-toolbar {
  background-color: #383a3e;
  border-color: #383a3e;
}

.doccle {
  background-image: url("../resources/docclebalk.PNG");
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  font-size: 0px;
  height: 10px;
}
