<ion-header>
  <ion-toolbar>
    <ion-title>
      <p align="center">Chat</p>
    </ion-title>
  </ion-toolbar>
</ion-header>
<p class="doccle"></p>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let chat of chats">
      <ion-item (click)="showChat(chat.id)">{{chat.id}}</ion-item>
      <ion-list *ngIf="messages != null && clickedChat == chat.id">
        <ion-item-sliding *ngFor="let message of messages">
          <ion-text text-wrap>{{message.sender}}: {{message.content}}</ion-text>
        </ion-item-sliding>
      </ion-list>

      <ion-item *ngIf="messages != null && clickedChat == chat.id" class="input">
        <ion-input (keyup.enter)="sendMessage(chat)" placeholder="Write a message here" [(ngModel)]="msgToSend"></ion-input>
        <ion-button expand="block"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
        <ion-button expand="block" (click)="sendMessage(chat)">Send Message</ion-button>
      </ion-item>
    </ion-item-sliding>

  </ion-list>

</ion-content>
